<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="btn btn-primary btn-lg" href="https://www.rabbitmqsummit.com">Get Tickets</a>
    <div class="btn-group">
      <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Past Events
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item{% if page.url == '/' %} active {% endif %}" href="/">2022</a>
        <a class="dropdown-item{% if page.url contains '/2021' %} active {% endif %}" href="/2021">2021</a>
        <a class="dropdown-item{% if page.url contains '/2019' %} active {% endif %}" href="/2019">2019</a>
        <a class="dropdown-item{% if page.url contains '/2018' %} active {% endif %}" href="/2018">2018</a>
      </div>
    </div>
  </div>
</nav>
